services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    environment:
      MONGO_URL: mongodb://mongo:27017/alca_financas
    depends_on:
      - mongo
    ports:
      - "8000:5000"   # host:container
